<div class="row align-items-center text-center intro">
  <div class="col book">
    <div class="d-grid gap-2 d-md-block">
      <button class="btn-book" [routerLink]="'/booking'">Book Appointment</button>
    </div>
  </div>
  <div class="col">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem neque, quis ducimus voluptatem
      nobis sunt autem maiores vitae amet porro corrupti sed assumenda officiis minus corporis architecto
      dolorum vel! Quidem?</p>

  </div>
</div>